<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0MLZlJe97If-dl13CgPdFR4XSAw9zBBA</string>
	<key>GCM_SENDER_ID</key>
	<string>393369549746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bamhuyetluuan.ezs</string>
	<key>PROJECT_ID</key>
	<string>bam-huyet-luu-an</string>
	<key>STORAGE_BUCKET</key>
	<string>bam-huyet-luu-an.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393369549746:ios:cec0a38b82b17d19e902ab</string>
	<key>DATABASE_URL</key>
	<string>https://bam-huyet-luu-an-default-rtdb.firebaseio.com</string>
</dict>
</plist>